.a-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 20px;
  position: relative;
  span{
    margin: 0 8px;
    background: linear-gradient(to left, lighten($color-sexy-purple, 18), lighten($color-sexy-blue, 15));
    background-clip: text;
    color: transparent;
    font-weight: bolder;
  }
  @include md() {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  @include xl() {
    font-size: 55px;
    line-height: 83px;
    margin-bottom: 50px;
  }
  &.is-white{
    color: white;
  }
}
