.o-blog-post {
  padding: 20px 0;
  @include md() {
    padding: 50px 100px;
  }
  &__title {
    font-size: 35px;
    letter-spacing: 1px;
    @include md() {
      font-size: 40px;
    }
  }
  &__content {
    padding: 20px 0;
    p {
      color: $color-gray-dark;
      letter-spacing: 0.5px;
      padding: 10px 0;
      font-size: 20px;
      line-height: 30px;
      @include md() {
        font-size: 18px;
      }
    }
    img {
      height: auto;
      width: 100%;
      @include md(){
          object-fit: cover;
          max-height: 550px;
      }
    }
  }
}
