.o-header {
  height: $header-height-xs;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 4;
  @include sm() {
    height: $header-height-md;
    justify-content: flex-start;
  }
  @include md() {
    height: $header-height-xl;;
  }
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &.has-color {
    background: white; //TODO color header
  }
  &__image{
    transform: translate(-20px, 8%);
    @include xl(){
      width: 180px;
    }
  }
}
