.o-main-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 0px;
  @include xl() {
    padding-bottom: 260px;
  }
  @include xl() {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__app {
    max-height: 600px;
    margin-bottom: 55px;
    position: relative;
    width: 100%;
    video {
      width: 100%;
      border-radius: 15px;
      height: auto;
      object-fit: cover;
      box-shadow: 0px 6px 16px black;
    }
    &-man,
    &-woman {
      font-size: 10.8vw;
      position: absolute;
      top: 100%;
      transform: translate(-50%, -50%);
    }
    &-man {
     transform: translate(80%, -50%);
      right: 100%;
    }
    &-woman {
      left: 100%;
    }
    @include sm() {
      margin-bottom: 110px;
    }
    @include xl() {
      max-width: 55%;
      order: 2;
    }
  }
  &__info {
    padding-top: 25px;
    &-button {
      margin-top: 20px;
      width: 100%;
      @include sm() {
        width: initial;
        margin-top: 40px;
      }
    }
    @include xl() {
     padding-left: 10vw;
      max-width: 40%;
      order: 1;
    }
  }
}
