.o-price-section {
  position: relative;
  z-index: 3;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include only-sm() {
      h1 {
        text-align: center;
      }
    }
    @include sm() {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .a-btn {
      width: 100%;
      margin: 25px 0;
      @include sm() {
        width: initial;
        margin-top: 20px;
      }
      @include md() {
        margin-top: -20px;
      }
    }
    &-group {
      margin-top: 25px;
      font-size: 17vw;
    }
  }
  &__tables {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 3;
    flex-direction: column;
    margin-top: 50px;
    grid-gap: 50px;
    @media (min-width: 790px){
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1100px){
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0px;
    }
    &-align{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__circle {
    left: -25% !important;
    top: 35% !important;
    .m-circle__out {
      @include xl() {
        max-width: 500px;
        max-height: 530px;
        border: 14px solid #2a3873;
      }
    }
    .m-circle__in {
      @include xl() {
        max-width: 500px;
        max-height: 500px;
      }
    }
  }
}
