.p-blog-post{
    &__image{
        height: auto;
        max-width: 100%;
        @include md(){
            width: 100%;
            object-fit: cover;
            max-height: 50vw;
        }
        @include xl(){
            max-height: 30vw;
        }
    }
}