.a-product-image {
  width: 100%;
  /*  background: white;
    box-shadow: 0px 6px 16px black; */
  position: relative;
  max-height: 600px;
  video {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 6px 16px black;
  }
  &.is-full{
      @include xl(){
            width: 65%;
      }
  }
  /* &::before{
        content: "";
        position: absolute;
        background: linear-gradient(lighten($color-sexy-purple, 9), lighten($color-sexy-blue, 9));
        left: -10px;
        top: -10px;
        right: 10px;
        bottom: 10px;
        z-index: -1;
        @include md(){
            top: -20px;
            left: -20px;
            right: 20px;
            bottom: 20px;
        }
    } */
}
