.m-nav-bar {
  align-items: flex-end;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  padding: 10px 25px;
  position: absolute;
  right: -1000px;
  top: 60px;
  transition: 0.5s;
  width: 100%;
  z-index: 3;
  &.is-open {
    right: 0;
  }
  @include sm(){
    padding-right: 65px;
  }
  @include md() {
    align-items: center;
    background: none;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    position: static;
    width: 100%;
  }
  &__items {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 190px;
    button {
      font-size: 2.2rem;
      font-weight: 600;
      &:hover {
        color: lighten($color-sexy-blue, 9);
        font-weight: 800;
        border-bottom: 5px solid lighten($color-sexy-blue, 9);
      }
      @include xl() {
        font-size: 2.5rem;
      }
    }
    @include md() {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      min-height: 100%;
      margin-left: 20px;
      width: 65%;
      max-width: 380px;
    }
    @include xl() {
      margin-left: 80px;
      max-width: 460px;
    }
  }
}
