.a-nav-item {
  color: $color-black;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
  z-index: 1; //TODO crear mixin para z-index
  &.is-active {
    color: red;
  }
  @include xl(){
    font-size: 2.5rem;
  }
  &:hover {
    color: $color-white;
    z-index: 1;
    &:before {
      background: $color-sexy-purple;
      transform: scaleX(1) skew(-10deg);
    }
    &:after {
      background: $color-sexy-purple;
      transform: scaleX(1) skew(-10deg);
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: 0.4s;
  }
  &:before {
    bottom: 0%;
    left: -6px;
    right: -12px;
    top: -9px;
    transform-origin: left;
    z-index: -1;
  }
  &:after {
    bottom: -10px;
    left: -8px;
    right: -10px;
    top: 0%;
    transform-origin: right;
    z-index: -1;
  }
}
