.t-container {
  height: 100%;
  margin: 0 auto;
  max-width: $screen-desktop-xs;
  width: 95%;
  @include sm(){
    width: 75%;
  }
  &--full {
    min-height: calc(100vh - $header-height-xs);
    @include sm(){
      min-height: calc(100vh - $header-height-md);
    }
    @include md(){
      min-height: calc(100vh - $header-height-xl);
    }
  }
  &--wide {
    max-width: 100%;
    width: 100%;
  }
}
