.a-nav-item {
  color: $color-black;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
  z-index: 1; //TODO crear mixin para z-index
  &.is-active {
    color: lighten($color-sexy-purple, 9);
    font-weight: 800;
    border-bottom: 5px solid lighten($color-sexy-purple, 9);
    &:hover {
      color: lighten($color-sexy-purple, 9);
      border-bottom: 5px solid lighten($color-sexy-purple, 9);
    }
  }
  &.is-post {
    font-size: 1.7rem;
    color: lighten($color-sexy-blue, 9);
    transition: 0;
    width: max-content;
    &:hover {
      border-bottom: 2px solid lighten($color-sexy-blue, 9);
    }
    @include md() {
      font-size: 2rem;
    }
  }
  @include xl() {
    font-size: 2.5rem;
  }
  &:hover {
    color: lighten($color-sexy-blue, 9);
    font-weight: 800;
    border-bottom: 5px solid lighten($color-sexy-blue, 9);
  }
}
