.o-header {
  height: 60px;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 3;
  @include md() {
    height: 75px;
    justify-content: flex-start;
  }
  @include xl() {
    height: 100px;
  }
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &.has-color {
    background: yellow; //TODO color header
  }
}
