.o-main-section {
  @include xl() {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__app {
    background: white;
    margin-bottom: 15px;
    height: 375px;
    width: 100%;
    @include sm() {
      margin-bottom: 50px;
    }
    @include xl() {
        height: 600px;
        order: 2;
      }
  }
  &__info {
    &-button {
      margin-top: 15px;
      width: 100%;
      @include sm() {
        width: initial;
        margin-top: 40px;
      }
    }
    @include xl() {
    max-width: 48%;
      order: 1;
    }
  }
}
